//CSS预编译文件基于Sass语法
//这是Zoomla!逐浪CMS团队优化的Sass模板，我们为你预置了逐浪字库官方团队的高品质webFont之CDN库，你可完全采用中文定义写作，如下面写法都是合格
//$中国变量之一:12px;
//$中国人民中华人民共和国变量之二:#ff0;
//.a1{width:$中国变量之一 ;}
//.a2{background: $中国人民中华人民共和国变量之二;}
//建议CSS注释写在代码段的起始处以使阅读更加流畅



//党徽
.zi_govDh
{
&:before { content: "\eee0"; }
}

//党徽线框
.zi_govDhxk
{
&:before { content: "\eee1"; }
}

//入党
.zi_govRd
{
&:before { content: "\eee2"; }
}

//政府印章
.zi_govZfyz
{
&:before { content: "\eee3"; }
}

//公安线框
.zi_govGaxk
{
&:before { content: "\eee4"; }
}

//法院
.zi_govFy
{
&:before { content: "\eee5"; }
}

//省政府外侨办
.zi_govSzfwqb
{
&:before { content: "\eee6"; }
}

//政府报表
.zi_govZfbb
{
&:before { content: "\eee7"; }
}

//工程建设
.zi_govGcjs
{
&:before { content: "\eee8"; }
}

//领取补贴
.zi_govLqbt
{
&:before { content: "\eee9"; }
}

//公安警察
.zi_govGajc
{
&:before { content: "\eeea"; }
}

//门卫站岗
.zi_govMwzg
{
&:before { content: "\eeeb"; }
}

//公安管辖
.zi_govGagx
{
&:before { content: "\eeec"; }
}

//公安简明
.zi_govGajm
{
&:before { content: "\eeed"; }
}

//安全引导
.zi_govAqyd
{
&:before { content: "\eeee"; }
}

//警灯
.zi_govJd
{
&:before { content: "\eeef"; }
}

//公安印章
.zi_govGayz
{
&:before { content: "\eef0"; }
}

//公安记录
.zi_govGajl
{
&:before { content: "\eef1"; }
}

//后勤人员
.zi_govHqry
{
&:before { content: "\eef2"; }
}

//公安监控
.zi_govGajk
{
&:before { content: "\eef3"; }
}

//公共安全
.zi_govGgaq
{
&:before { content: "\eef4"; }
}

//安全井盖
.zi_govAqjg
{
&:before { content: "\eef5"; }
}

//消防栓
.zi_govXfs
{
&:before { content: "\eef6"; }
}

//公安局
.zi_govGaj
{
&:before { content: "\eef7"; }
}

//警察
.zi_govJc
{
&:before { content: "\eef8"; }
}

//安全守卫
.zi_govAqsw
{
&:before { content: "\eef9"; }
}

//派出所
.zi_govPcs
{
&:before { content: "\eefa"; }
}

//110
.zi_gov110
{
&:before { content: "\eefb"; }
}

//上传证件
.zi_govSczj
{
&:before { content: "\eefc"; }
}

//公安坐左
.zi_govGazz
{
&:before { content: "\eefd"; }
}

//公安坐中
.zi_govGazzo
{
&:before { content: "\eefe"; }
}

//公安坐右
.zi_govGazy{
&:before { content: "\eeff"; }
}



























